@model Vidly.Models.Customer
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (@Model.Birthdate != null)
    {
    <li>Birthdate: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>
